__pycache__/*
.ipynb_checkpoints/*
examples/.ipynb_checkpoints/*
examples/frontend/.ipynb_checkpoints/*
examples/main/.ipynb_checkpoints/*
examples/mixer/.ipynb_checkpoints/*

examples/__pycache__/*
script/.ipynb_checkpoints/*
script/__pycache__/*
djtransgan/__pycache__/*
djtransgan/.ipynb_checkpoints/*
djtransgan/config/__pycache__/*
djtransgan/config/.ipynb_checkpoints/*
djtransgan/dataset/__pycache__/*
djtransgan/dataset/.ipynb_checkpoints/*
djtransgan/frontend/__pycache__/*
djtransgan/frontend/.ipynb_checkpoints/*
djtransgan/mixer/__pycache__/*
djtransgan/mixer/.ipynb_checkpoints/*
djtransgan/model/__pycache__/*
djtransgan/model/.ipynb_checkpoints/*
djtransgan/process/__pycache__/*
djtransgan/process/.ipynb_checkpoints/*
djtransgan/trainer/__pycache__/*
djtransgan/trainer/.ipynb_checkpoints/*
djtransgan/utils/__pycache__/*
djtransgan/utils/.ipynb_checkpoints/*

results/*
pretrained/*
cache/*
